
@{
    ViewBag.Title = "XoaNV";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div class="container" style="padding:3% 15% 0 15%;">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <form>
            <table class="table table-bordered">
                <tr>
                    <td scope="col" style="width:25%;text-align:left;">Tên Sản Phẩm</td>
                    <td scope="col" style="text-align:center;">@Model.tbl_Product.ProductName</td>
                </tr>
                <tr>
                    <td scope="col" style="width:25%;text-align:left;">Số Lượng Tồn</td>
                    <td scope="col" style="text-align:center;">@Model.Number</td>
                </tr>
            </table>
            <div style="text-align: right;">
                <button class="button" type="submit"><i style="text-align: center; width: auto; font-size: 2.0em;" class="fas fa-store-alt-slash"></i></button>
                <a href="@Url.Action("Kho","Kho")"><i style="text-align: center; width: auto; font-size: 2.0em;" class="fas fa-share-square"></i></a>
            </div>
        </form>
    }
</div>

